/*
* @Author: Administrator
* @Date:   2017-10-10 09:56:29
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-10 19:39:11
*/
@import url('base.css');
.navList{
		width: 100%;
		/* height: 2.7rem; */
		height: auto;
		/* background: red; */
		
}
.list{	
		width: 100%;
		height: auto;
		overflow: hidden;
		
		padding-top: 0.08rem;

}
.list li{
		width: 20%;
		height: auto;
		
		float: left;
		margin-bottom: 0.36rem;
}
.navimg{

		display: block;
		width: 0.72rem;
		height: 0.72rem;
		
		margin: 0 auto;
}
.navimg img{
		display: block;
		width: 0.72rem;
		height: 0.72rem;
		
		margin: 0 auto;
}
.navtext{
		font-size: 0.22rem;
		display: block;
		text-align: center;
		margin-top: 0.15rem;
		color: black;
}

.list li:nth-child(6){
		margin-bottom: 0;
}
.list li:nth-child(7){
		margin-bottom: 0;
}
.list li:nth-child(8){
		margin-bottom: 0;
}
.list li:nth-child(9){
		margin-bottom: 0;
}
.list li:nth-child(10){
		margin-bottom: 0;
}
/* 轮播图 */
.lunbotubox{
		width: 100%;
		height: 2.2rem;
		background: #f0f0f0;
}
.lunbo{
		width: 6.34rem;
		height: 2.09rem;
		/* background: red; */
		float: left;
		margin-top: 0.09rem;
		margin-left: 0.06rem;
}
.lunbo li{
		float: left;
		width: 3.44rem;
		height: 2.09rem;
		/* background: yellow; */
}
.lunbo li img{
		display: block;
		width: 100%;
		height: 100%;
}










/* 必抢 */
.biqiangHead{
		width: 100%;
		height: 0.62rem;
		/* height: auto; */
		background: #f0f0f0;
		margin-top: 0.1rem;
}
.hengxian5{
		float: left;
		width: 0.68rem;
		height: 0.02rem;
		background: #becfec;
		margin-top: 0.32rem;
		margin-left: 0.2rem;
}
.biqiangHeadcenterbox{
		width: 3.2rem;
		height: 100%;
		/* background: yellow; */
		margin: 0 auto;
}
.zhongjian3{
		float: left;
		width: 1.44rem;
		height:100%;
		/* background: red; */
}
.biqiangHeadimg{
		float: left;
		width: 0.24rem;
		height: 0.3rem;
		/* background: yellow; */
		margin-top: 0.16rem;
		margin-left: 0.3rem;
}
.biqiangHeadimg img{
		display: block;
		width: 100%;
		height: 100%;
}
.biqiangHeadword{
		float: left;
		width: auto;
		height: 0.3rem;
		margin-left:0.1rem;
		/* background: pink; */
		margin-top: 0.16rem;
		font-size: 0.26rem;
		text-align: center;
		color: #4a84e4;

}
.hengxian6{
		float:right;
		width: 0.68rem;
		height: 0.02rem;
		background: #becfec;
		margin-top: 0.32rem;
		margin-right: 0.2rem;
}
/* 必抢 */
.biqiangbody{
		width: 100%;
		height: auto;
		/* background: red; */
}
.biqiangbody2{
		width: 100%;
		height: auto;
		overflow: hidden;
}
.biqiangbody2 li{
		display: block;
		width: 25%;
		height: 2.55rem;
		/* background: yellow; */
		float: left;
		box-sizing:border-box;
		padding-top: 0.14rem;
		padding-bottom: 0.21rem;
}
.biqiangbody2 li:nth-child(1){
		border-bottom: 1px solid #f0f0f0;
		box-sizing: border-box;
}
.biqiangbody2 li:nth-child(2){
		border-bottom: 1px solid #f0f0f0;
		box-sizing: border-box;
}
.biqiangbody2 li:nth-child(3){
		border-bottom: 1px solid #f0f0f0;
		box-sizing: border-box;
}
.biqiangbody2 li:nth-child(4){
		border-bottom: 1px solid #f0f0f0;
		border-left: 1px solid #f0f0f0;
		box-sizing: border-box;
}
.biqiangbody2 li:nth-child(8){
		border-top: 1px solid #f0f0f0;
		border-left: 1px solid #f0f0f0;
		box-sizing: border-box;

}
.biqiangbody2 li a.biqiangword1{
		display: block;
		font-size: 0.24rem;
		/* background: pink; */
		text-align: center;
		color: black;

}
.biqiangimg{
		width: 1.37rem;
		height:1.62rem;
		/* background: yellow; */
		display: block;
		margin: 0 auto;
}
.biqiangimg img{
		width: 100%;
		height: 100%;
		display: block;
}
.biqiangword2box{
		width: 100%;
		height: auto;
		background: pink;
}
.word2box1{
		display: inline-block;
		width: auto;
		height: auto;
		float: left;
		font-size: 0.17rem;
		margin-left: 0.30rem;
		color: #ff2e2e;
}
.word2box2{
		display: inline-block;
		width: auto;
		height: auto;
		float: left;
		text-decoration: line-through;
		font-size: 0.17rem;
		margin-left: 0.02rem;
		color: #9b9b9b;
}








/* 潮流酷玩头部 */
.kuwanHead{
		width: 100%;
		height: 0.62rem;
		/* height: auto; */
		background: #f0f0f0;
		margin-top: 0.1rem;
}
.hengxian1{
		float: left;
		width: 0.68rem;
		height: 0.02rem;
		background: #becfec;
		margin-top: 0.32rem;
		margin-right: 0.2rem;
}
.kuwanHeadcenterbox{
		width: 3.2rem;
		height: 100%;
		/* background: yellow; */
		margin: 0 auto;
}
.zhongjian{
		float: left;
		width: 1.44rem;
		height:100%;
		/* background: red; */
}
.kuwanHeadimg{
		float: left;
		width: 0.24rem;
		height: 0.3rem;
		/* background: yellow; */
		margin-top: 0.16rem;
}
.kuwanHeadimg img{
		display: block;
		width: 100%;
		height: 100%;
}
.kuwanHeadword{
		float: left;
		width: auto;
		height: 0.3rem;
		margin-left:0.1rem;
		/* background: pink; */
		margin-top: 0.16rem;
		font-size: 0.26rem;
		text-align: center;
		color: #4a84e4;

}
.hengxian2{
		float:right;
		width: 0.68rem;
		height: 0.02rem;
		background: #becfec;
		margin-top: 0.32rem;
		
}
.kuwanBody{
		width: 100%;
		height: 2.6rem;
		background: red;
}
.kuwanul{
		width: 100%;
		height: 100%;
		background: yellow
}
.kuwanul li{
		width: 33.333333333333%;
		height: 100%;
		background: red;
		float: left;
}
.kuwanul li img{
		width: 100%;
		height: 100%;
		display: block;
}
/* 头部 */
header{
		width: 100%;
		height: 0.88rem;
		background: #f32d2d;
		position: fixed;
		top: 0;
		left: 0;
		z-index:999;
}
.headergengduo{

		width: 0.41rem;
		height: 100%;
		/* background: yellow; */
		float: left;
		margin-left: 0.4rem;
}
.headergengduo img{
		display: block;
		width: 100%;
		height: 100%;

}
header input{

		width: 3rem;
		height: 100%;
		float:left;
	/* 	margin-top: 0.1rem;
		margin-left: 0.41rem; */
		background: #fee9e9;
		border: 0;
		border-top-left-radius: 0.05rem;
		border-bottom-left-radius: 0.05rem;
		padding-left: 0.2rem;
}
.sousuoanniu{
		width: 0.75rem;
		height: 0.66rem;
		background: #fee9e9;
		float: right;
		

}
.sousuoanniu img{
		display: block;
		width: 100%;
		height: 100%
}
.jiagehez{
		width: 4rem;
		height: 0.66rem;
		float: left;
		margin-top: 0.1rem;
		margin-left: 0.41rem;
		background: #fee9e9;
}
.denglu{
		width: auto;
		height: 0.66rem;
		float: left;
		margin-top: 0.1rem;
		margin-left: 0.36rem;
		font-size: 0.24rem;
		line-height: 0.66rem;
		color: #ffffff;
}
/* banner */
.banner{
		display: block;
		width: 100%;
		height: 2.22rem;
		background: yellow;
		margin-top: 0.88rem;
}
.banner img{
		display: block;
		width: 100%;
		height: 100%
}
/* 品牌特卖 */
.temaiHead{
		width: 100%;
		height: 0.62rem;
		/* height: auto; */
		background: #f0f0f0;
		margin-top: 0.1rem;
}
.hengxian3{
		float: left;
		width: 0.68rem;
		height: 0.02rem;
		background: #ffcc99;
		margin-top: 0.32rem;
		margin-right: 0.2rem;
}
.temaiHeadcenterbox{
		width: 3.2rem;
		height: 100%;
		/* background: yellow; */
		margin: 0 auto;
}
.zhongjian2{
		float: left;
		width: 1.44rem;
		height:100%;
		/* background: red; */
}
.temaiHeadimg{
		float: left;
		width: 0.29rem;
		height: 0.29rem;
		/* background: yellow; */
		margin-top: 0.16rem;
}
.temaiHeadimg img{
		display: block;
		width: 100%;
		height: 100%;
}
.temaiHeadword{
		float: left;
		width: auto;
		height: 0.3rem;
		margin-left:0.1rem;
		/* background: pink; */
		margin-top: 0.16rem;
		font-size: 0.26rem;
		text-align: center;
		color: #ff8000;

}
.hengxian4{
		float:right;
		width: 0.68rem;
		height: 0.02rem;
		background: #ffcc99;
		margin-top: 0.32rem;
		
}
/* 特卖头部结束 */
.temaiBody{
		width: 100%;
		height: 1.88rem;
		background: red;
}
.temaiul{
		width: 100%;
		height: 100%;
		background: yellow
}
.temaiul li{
		width: 50%;
		height: 100%;
		background: red;
		float: left;
		box-sizing:border-box;
}
.temaiul li img{
		width: 100%;
		height: 100%;
		display: block;
}
.temaiul li:first-child{
		border-right: 2px solid #f0f0f0;
}
/* 猜你喜欢 */
.loveHead{
		width: 100%;
		height: 0.62rem;
		/* height: auto; */
		background: #f0f0f0;
		margin-top: 0.1rem;
}
.hengxian7{
		float: left;
		width: 0.28rem;
		height: 0.02rem;
		background: #999999;
		margin-top: 0.32rem;
		
}
.loveHeadcenterbox{
		width: 2.06rem;
		height: 100%;
		/* background: yellow; */
		margin: 0 auto;
}
.zhongjian4{
		float: left;
		width: 1.44rem;
		height:100%;
		/* background: red; */
}

.loveHeadword{
		margin-left: 0.3rem;
		float: left;
		width: auto;
		height: 0.3rem;
		margin-left:0.2rem;
		margin-right:0.2rem;
		/* background: pink; */
		margin-top: 0.16rem;
		font-size: 0.26rem;
		text-align: center;
		color: #999999;

}
.hengxian8{
		float:left;
		width: 0.28rem;
		height: 0.02rem;
		background: #999999;
		margin-top: 0.32rem;
		
		
}
.lovemainbox{
		width: 100%;
		height: 4.54rem;
		/* background: yellow; */
}
.lovemainhead{
		width: 100%;
		height: 100%;
		/* background: red; */
}
.lovemainhead li{
		width: 50%;
		height: 4.54rem;
		/* background: blue; */
		float: left;
}





.loveimg{
		display: block;
		width: 100%;
		height: 3.17rem;
		/* background: yellow; */
}
.loveh1{
		margin-top: 0.14rem;
		display: block;
		width: 90%;
		height: 0.56rem;
		/* background: pink; */
		font-size: 0.2rem;
		color: #66667d;
		margin-left: 0.17rem;
		overflow: hidden;
		line-height: 0.25rem;

}
.loveh2{
		margin-top: 0.20rem;
		display: block;
		width: 90%;
		height: 0.23rem;
		/* background: pink; */
		font-size: 0.23rem;
		color: #dd2727;
		margin-left: 0.17rem;

		
}
.loveimg img{
		display: block;
		width: 100%;
		height: 100%;
}
/* foot开始 */
footer {
	width: 100%;
	overflow: hidden;
}
footer .endflag{
	width: 100%;
	height: 0.86rem;
	background: #eeeeee;
	border-bottom: 0.04rem solid #000000;
}

footer .endflag .img-box{
	width: 0.6rem;
	height: 0.6rem;
	margin: 0 auto;
	/* background: red; */
	padding-top: 0.26rem;
}
footer .endflag .img-box img{
	display: block;
	width: 100%;
	height: 0.43rem;
}
footer .ending{
    width: 100%;
    height: 2.02rem;
    background: white;
}
footer .ending .top{
	width: 5.23rem;
	margin: 0 auto;
	/* background: red; */
	margin-top: 0.44rem;
	overflow: hidden;
}
footer .ending .top a{
	float: left;
	font-size: 0.22rem;
	padding:0  0.24rem;
	border-right: 0.02rem solid #99a5c2;
	color: #999999;
}
footer .ending .top a:last-child{
	border-right: none;
}
footer .ending .down{
	width: 3.75rem;
	margin: 0 auto;
	/* background: red; */
	font-size: 0.22rem;
	color: #cccccf;
	overflow: hidden;
	margin-top: 0.64rem;
}
footer .ending .down img{
	float: left;
	width: 0.22rem;
	height: 0.22rem;
	margin-top: 0.05rem;
}
footer .ending .down  span{
	float: left;
}